/* common style */
body{
    background-color: aqua;
}
.container{
    width: 870px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top:21px ;
    background-color: #fff;
    padding: 0 30px;

}
main{
    display: flex;
    flex-direction: column;
}


/* header style start */

/* header style end */

/* main section style start */

/* top player section style */
.top-player{
    margin-bottom: 30px;
}
hr{
    border: 1px solid rgb(240, 150, 150);
    margin-bottom: 27px;
}
.title-name{
    color: blue;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}

 .player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top blog style */

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog-info{

    padding: 15px;
}

.thumbnail img{
    width: 117px;
    height: 117px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: tomato;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: blueviolet;
}

/* latest course style */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    padding-bottom: 20px;
}
.course{
    box-shadow: 0 5px 5px 5px whitesmoke;
    padding: 10px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course .course-thumbnail img{
    width: 224px;
    height: 104px;
}
.fa-star.filled{
    color: yellow;

}
.fa-star{
    font-size: 12px;
}
.fa-star.empty{
    color: rgb(211, 172, 187);

}
.course-duration{
    background-color: rgb(248, 241, 239);
    color: tomato;
    border-radius: 50px;
    padding: 5px;
}
.course-duration i{
    margin-right: 5px;
}

/* media query */
/* style for small device */
@media screen and (max-width:668px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player, .blog{
        flex-direction: column;
    }

}
/* style for medium device */
@media screen and (min-width:669px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(2,1fr);
    }
    .player, .blog{
        flex-direction: column;
    }

}

/* main section style end */

/* footer section style start */

/* footer section style end */